absl-py==0.9.0
astor==0.8.1
astroid==2.3.3
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
Flask==1.1.2
Flask-SocketIO==4.2.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
lz4==3.0.2
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.0
numpy==1.18.2
opt-einsum==3.2.1
pandas==1.0.3
phe==1.4.0
Pillow==6.2.2
protobuf==3.11.3
pylint==2.4.4
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
syft==0.2.4
syft-proto==0.2.5a1
tblib==1.6.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tf-encrypted==0.5.9
torch==1.4.0
torchvision==0.5.0
tornado==4.5.3
typed-ast==1.4.1
urllib3==1.25.9
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.11.2
